<!-- ADD -->

<tr>
<td><%= @mail[:date].strftime("%Y-%m-%d %H:%M:%S") %></td>
<td><a href="<%== @mail[:file] %>"><%== @mail[:subject] %></a></td>
<td><%== @mail[:sender] %></td>
<td><%== @mail[:recipients].to_a.join(",") %></td>
</tr>
